#bigtable {
	height: 200px;
	width: 400px;
	border: solid 1px black;
}

#bigtable .bigtable-headers {
	height: 20px;
}

#bigtable .bigtable-body {
	height: 180px;
}

.bigtable-container {
	overflow: hidden;
	position: relative;
}

.bigtable-container table {
	table-layout: fixed;
	width: 1px;
	height: 1px;
}

.bigtable-headers {
	overflow: hidden;
	width: 100%;
	position: relative;
}

.bigtable-headers th {
	height: 20px;
	text-align: left;
}

.bigtable-body {
	width: 100%;
	overflow-y: scroll;
	overflow-x: auto;
	position: relative;
}